/* Copyright 2009, UCAR/Unidata and OPeNDAP, Inc.
   See the COPYRIGHT file for more information. */

package yax.lex;


// Provide an example of using the Sax Lexer

import javax.xml.parsers.*;
import org.xml.sax.*;

import java.io.IOException;

public class BisonLexer extends SaxLexer
{
    //////////////////////////////////////////////////
    // Constants
    static CharSet UTF8 = CharSet.forName("UTF-8");

    //////////////////////////////////////////////////
    // static types

    //////////////////////////////////////////////////
    // static fields

    //////////////////////////////////////////////////
    // Instance variables
    
    String document;
    
    // Lexer state
    SaxLexer saxlexer = null;

    SaxToken[] tokens = null;
    int ntokens = 0;
    int next = 0;

    Map<String,Lexeme> elementmap = null;
    Map<String,Lexeme> attributemap = null;

    boolean initialized = false;

    SaxToken lval = null;

    //////////////////////////////////////////////////
    // Constructor(s)

    public BisonLexer(String document, List<Lexeme> elements,
		    List<Lexeme> attributes);
    {
	elementmap = new HashMap<String,Lexeme>();
	for(Lexeme elexeme: elements) tokenmap.put(elexeme.name,elexeme);
	attributemap = new HashMap<String,Lexeme>();
	for(Lexeme alexeme: attributes) tokenmap.put(alexeme.name,alexeme);
    }

    //////////////////////////////////////////////////
    // Abstract method overrides

    String[] orderedAttributes(String elementname)
    {
	Lexeme lexeme = elementmap.get(elementname);
	if(lexeme == null)
	    return null;
	return lexeme.attributes;
    }

    //////////////////////////////////////////////////
    // Bison Parser Lex interface

    public Object getLval() {return lval;}

    // Probable subclass override
    public void yyerror(String msg) {System.err.println(msg);}

    int
    yylex()
	throws LexException
    {
	if(!initialized) initialize();
			
	if(next >= ntokens)
	    return 0; // signals eof
	lval = tokens[next++];    
	
    }

    //////////////////////////////////////////////////
    // Protected

    void initialize()
	throws LexException
    {
        saxlexer = new SaxLexer(document);
	try {
            saxlexer.lex();
	} catch (SaxException se) {
	    throw new LexException(se);
	}
	ntokens = saxlexer.getTokenLength();
	tokens = saxlexer.getTokens(new SaxToken[ntokens]);
	next = 0;
	initialized = true;    
    }
} // class BisonLexer
